.buttons {
  position: fixed;
  bottom: 10vh;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 768px) {
    bottom: unset;
    top: 10vh;
  }

  &__wrapper {
    position: relative;
    width: 60px;
    height: 60px;

    @media (min-width: 768px) {
      width: 80px;
      height: 80px;
      top: 30vh;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(70%);
    pointer-events: none;
    transition: transform 0.4s ease-in-out;
    width: 195px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    @media (min-width: 768px) {
      width: 260px;
      height: 80px;
    }

    &--call {
      background-image: url(/header/buttons/buttons__call.webp);
    }

    &--wp {
      background-image: url(/header/buttons/buttons__wp.svg);

      @media (min-width: 768px) {}
    }

    &--open {
      transform: translateX(0);
      pointer-events: auto;
    }
  }

  &__link {
    display: block;
    color: #EEEEEE;
    text-decoration: none;
    line-height: 60px;
    margin-left: 65px;
    font-weight: 600;

    @media (min-width: 768px) {
      line-height: 80px;
      margin-left: 90px;
      font-size: 1.4rem;
    }
  }
}

[dir='rtl'] .buttons {
  right: unset;
  left: 0;

  &__button {
    transform: translateX(0%);

    &--open {
      transform: translateX(70%);
    }

    &--call {
      background-image: url(/header/buttons/buttons__call--he.webp);
    }

    &--wp {
      background-image: url(/header/buttons/buttons__wp--he.svg);
    }
  }

  &__text {
    padding-left: 8px;

    @media (min-width: 768px) {
      padding-left: 10px;
    }
  }

  &__call {
    width: 48px;
  }

  &__link {
    margin-left: unset;
    margin-right: 65px;

    @media (min-width: 768px) {
      margin-left: unset;
      margin-right: 90px;
    }
  }
}