.reviews {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    display: block;
    width: fit-content;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
      margin-bottom: 60px;
    }
  }

  &__block {
    background-color: #5A9BD5;
    margin: 30px 40px;
    padding: 10px;
    border-radius: 15px;

    @media (min-width: 768px) {
      padding: 25px;
    }
  }

  &__person{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__photo {
    width: 65px;
    height: 65px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #1E4193;
    border-radius: 50%;

    @media (min-width: 1268px) {
      width: 170px;
      height: 170px;
    }

    &--1 {
      background-image: url(/miller/pages/home/reviews/reviews__photo--1.png);
    }
  }

  &__name {
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1.875rem;
    }
  }

  &__text {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }
}
