.reviews {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    display: block;
    width: fit-content;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
      margin-bottom: 60px;
    }
  }

  &__block {
    background-color: #5A9BD5;
    margin: 30px 40px;
    padding: 10px;
    border-radius: 15px;

    @media (min-width: 1024px) {
      padding: 25px;
      width: 40%;
      margin: 0 auto;
    }
  }

  &__person {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
  }

  &__name {
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1.875rem;
    }
  }

  &__city {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__date {
    margin: 0;
    font-size: 0.75rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }

  &__source {
    margin: 0;
    font-size: 0.75rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }

  &__text {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__swiper {
    .swiper-slide {
      display: flex;
      align-items: center;
      height: 780px;

      @media (min-width: 768px) {
        height: 600px;
      }

      @media (min-width: 1024px) {
        height: 700px;
      }

      @media (min-width: 1600px) {
        height: 510px;
      }
    }
  }
}
