.faqCarIns {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    margin: 0 0 60px 0;
    text-align: center;
    font-size: 1.875rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__boxesFlex {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 60px;
    }
  }

  &__boxes {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
  }

  &__box {
    padding: 25px;
    border-radius: 15px;
    background-color: #ffff;
    border: 0.5px #1E4193 solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &__questionFlex {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__question {
    font-weight: 600;
    font-size: 0.875rem;

    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }

  &__icon {
    width: 30px;
    height: 20px;
    transition: transform 0.5s ease;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__answer {
    margin-top: 15px;
    font-size: 0.875rem;

    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }
}
