.advantages {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 1.25rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1278px) {
      gap: 40px;
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @media (min-width: 1278px) {
      gap: 30px;
    }
  }

  &__block {
    position: relative;
    background-image: url(../../../../../public/advantages__block.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @media (min-width: 1278px) {
      flex-direction: row;
      padding: 0 100px 0 150px;
      justify-content: end;
      gap: 100px;
    }

    &--white {
      background-image: url(../../../../../public/advantages__block--white.svg);
    }
  }


  &__img {
    position: absolute;
    top: -30px;
    width: 150px;
    height: 150px;

    @media (min-width: 1278px) {
      top: unset;
      left: -50px;
    }
  }

  &__name {
    margin-top: 120px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1E4193;

    @media (min-width: 1278px) {
      margin-top: 0;
      text-align: start;
      font-size: 1.5rem;
    }
  }

  &__text {
    margin: 0 20px 20px 20px;
    text-align: center;
    font-size: 1rem;

    @media (min-width: 1278px) {
      margin: 0;
      text-align: start;
      font-size: 1.2rem;
    }
  }
}