.advantages {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 1.25rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__block {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    justify-content: space-between;
    max-width: 430px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    min-height: 350px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    @media (min-width: 768px) {
      padding: 20px;
      min-height: 450px;
    }
  }

  &__img {
    margin: 0 auto;
    width: 75px;
    height: 75px;
    background: linear-gradient(135deg, #A3B8E6, #1E4193);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      margin: 0;
      width: 140px;
      height: 140px;
    }
  }

  &__icon {
    width: 45px;
    height: 45px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      width: 80px;
      height: 80px;
    }

    &--1 {
      background-image: url('/miller/advantages__icon--1.svg');
    }

    &--2 {
      background-image: url('/miller/advantages__icon--2.svg');
    }

    &--3 {
      background-image: url('/miller/advantages__icon--3.svg');
    }
  }

  &__name {
    text-align: center;

    @media (min-width: 768px) {
      text-align: start;
    }
  }

  &__text {
    text-align: center;

    @media (min-width: 768px) {
      text-align: start;
    }
  }
}



.swiper-slide {
  display: flex;
  justify-content: center;
}
