.accessibility {
  position: fixed;
  bottom: 2vh;
  right: 10px;
  z-index: 10000;

  @media (min-width: 768px) {
    bottom: 10vh;
  }

  &__icon-button {
    background-image: url(/accessability/accessability.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &__panel {
    position: absolute;
    right: 10px;
    bottom: 60px;
    margin-top: 10px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-width: max-content;
  }

  &__title {
    font-size: 1.125rem;
    margin-bottom: 10px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__button {
    padding: 5px;
    font-size: 0.875em;
    background-color: #E7F0FA;
    border: 0.5px solid #5A9BD5;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }

}

[dir='rtl'] .accessibility {
  right: unset;
  left: 10px;
}

[dir='rtl'] .accessibility__panel {
  right: unset;
  left: 10px;
}
