.modalForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 1320px;
    height: 1080px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  &__close {
    margin-top: 10px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}
