.heroSectionCarIns {
  margin-bottom: 30px;

  @media (min-width: 1024px) {
    margin-bottom: 90px;
  }

  &__title {
    font-size: 1.875rem;
    text-align: center;
    margin: 0 0 30px 0;
    color: #000000;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1024px) {
      margin: 0 0 100px 0;
    }

    @media (min-width: 1400px) {
      font-size: 3.5rem;
    }
  }

  &__content {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 1024px) {
      background-image: url(../../../../../public/heroSection_carInsurance.png);
      aspect-ratio: 16 / 9;
      width: 100%;
    }
  }

  &__text {
    margin: 0 auto 50px auto;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    color: #000000;

    @media (min-width: 1024px) {
      margin: 0 80px 50px 50%;
      width: unset;
      text-align: start;
    }

    @media (min-width: 1400px) {
      font-size: 1.7rem;
    }
  }

  &__illustrationCar {
    display: block;
    margin: 0 auto;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

[dir='rtl'] .heroSectionCarIns {

  &__content {
    @media (min-width: 1024px) {
      background-image: url(../../../../../public/heroSection_carInsurance_he.png);
    }
  }

  &__text {
    margin: 0 auto 50px auto;

    @media (min-width: 1024px) {
      margin: 0 50% 50px 80px;
    }
  }
}