.button {
  display: block;
  font-family: inherit;
  margin: 0 auto;
  padding: 0;
  width: 295px;
  height: 55px;
  border-radius: 100px;
  border: none;
  // background-color: #1E4193;
  background: linear-gradient(90deg, #1e4193, #3c67d4);
  box-shadow: 0 4px 10px rgba(30, 65, 147, 0.3);
  transition: background 0.3s ease, transform 0.15s ease;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  color: #FFFFFF;
  // transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1400px) {
    height: 90px;
  }

  &:hover {
    // background-color: #162f6b;
    background: linear-gradient(90deg, #3c67d4, #1e4193);
    transform: scale(1.02);
  }

  &--carIns {
    @media (min-width: 768px) {
      margin-left: 50%;
    }
  }
}

[dir='rtl'] .button {

  &--carIns {
    margin-left: unset;
    margin: 0 auto;

    @media (min-width: 768px) {
      margin-right: 50%;
    }
  }
}