.buttonsLanguages {
  position: relative;
  display: inline-block;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
  border-radius: 100px;

  @media (min-width: 1280px) {
    margin-left: 10px;

    &:hover {
      background-color: #5A9BD5;
      transform: scale(1.05);
    }
  }

  &__listPhone {
    margin: 0 15px 0 0;
    display: flex;
    justify-content: end;
    gap: 10px;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &__buttonPhone {
    display: block;
    width: 30px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;

    &--ru {
      background-image: url(../../../public/ru.svg);
    }

    &--he {
      background-image: url(../../../public/he.svg);
    }
  }

  &__button {
    display: none;

    @media (min-width: 1280px) {
      display: block;
      width: 30px;
      height: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      margin: 10px;

      &--ru {
        background-image: url(../../../public/ru.svg);
      }

      &--he {
        background-image: url(../../../public/he.svg);
      }
    }
  }

  &__list {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}

[dir = 'rtl'] .buttonsLanguages__listPhone {
  margin: 0 0 0 15px;
}
