.calcCarIns {
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // // background-image: url(/miller/public/test.png);
  // aspect-ratio: 16 / 9;
  // width: 100%;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    margin: 0 0 60px 0;
    text-align: center;
    font-size: 1.875rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__selects {
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    height: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: 40%;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 0.9rem;

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  &__label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #E7F0FA;
    border-radius: 15px;
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box;
    border: 0.5px solid #5A9BD5;
    cursor: pointer;

    &::placeholder {
      font-family: inherit;
    }

    &:focus {
      outline: none;
      border: 0.5px solid #1e4193;
    }
  }

  &__text {
    margin: 20px 0;
  }

  &__button {
    margin-top: 1.8rem;
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
    background: linear-gradient(90deg, #1e4193, #5A9BD5);
    color: #EEEEEE ;
    border: none;
    border-radius: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(30, 65, 147, 0.3);
    transition: background 0.3s ease, transform 0.15s ease;

    &:hover {
      background: linear-gradient(90deg, #5A9BD5, #1e4193);
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
