.processForServices {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 1.5rem;

    @media (min-width: 768px) {
      margin-bottom: 60px;
      font-size: 2.5rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 1023px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &--visible {
      opacity: 1;
      transform: translateY(0);
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__circle {
    flex-shrink: 0;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #5A9BD5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &__box {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    border: 2px #1E4193 solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  &__text {
    text-align: center;
  }

  &__blocks {
    display: none;

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(15, 1fr);
      grid-template-rows: 60px 145px max-content;
      column-gap: 20px;
      row-gap: 5px;
    }
  }

  &__circleNum {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    width: 60px;
    height: 60px;

    &--1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__circleNum--1.svg);
    }

    &--2 {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__circleNum--2.svg);
    }

    &--3 {
      grid-column: 8 / 9;
      grid-row: 1 / 2;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__circleNum--3.svg);
    }

    &--4 {
      grid-column: 11 / 12;
      grid-row: 1 / 2;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__circleNum--4.svg);
    }

    &--5 {
      grid-column: 14 / 15;
      grid-row: 1 / 2;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__circleNum--5.svg);
    }
  }

  &__number {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 60px;
    font-weight: 600;

    &--black {
      color: #000;
    }
  }

  &__arrow {
    height: 1px;
    background: black;
    position: relative;
    align-self: center;

    &--1 {
      grid-column: 3 / 5;
      grid-row: 1 / 2;
    }

    &--2 {
      grid-column: 6 / 8;
      grid-row: 1 / 2;
    }

    &--3 {
      grid-column: 9 / 11;
      grid-row: 1 / 2;
    }

    &--4 {
      grid-column: 12 / 14;
      grid-row: 1 / 2;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      border-top: 1px solid black;
      border-right: 1px solid black;
    }
  }

  &__head {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px 15px;

    &--1 {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__head--1.svg);
    }

    &--2 {
      grid-column: 4 / 7;
      grid-row: 2 / 3;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__head--2.svg);
    }

    &--3 {
      grid-column: 7 / 10;
      grid-row: 2 / 3;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__head--3.svg);
    }

    &--4 {
      grid-column: 10 / 13;
      grid-row: 2 / 3;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__head--4.svg);
    }

    &--5 {
      grid-column: 13 / 16;
      grid-row: 2 / 3;
      background-image: url(/miller/componentsForServices/processForServices/processCarIns__head--5.svg);
    }
  }

  &__headText {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;

    &--black {
      color: #000;
    }
  }

  &__step {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #1E4193;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    &--1 {
      grid-column: 1 / 4;
      grid-row: 3 / 3;
    }

    &--2 {
      grid-column: 4 / 7;
      grid-row: 3 / 3;
    }

    &--3 {
      grid-column: 7 / 10;
      grid-row: 3 / 3;
    }

    &--4 {
      grid-column: 10 / 13;
      grid-row: 3 / 3;
    }

    &--5 {
      grid-column: 13 / 16;
      grid-row: 3 / 3;
    }
  }

  &__textDesk {
    text-align: center;
    font-size: 1.125rem;
  }
}
