.services {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 1.5rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
      margin-bottom: 60px;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-bottom: 40px;

    @media (min-width: 1280px) {
      flex-direction: row;
    }
  }

  &__block {
    display: flex;
    flex: 1;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    height: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    @media (min-width: 768px) {
      gap: 30px;
      padding: 20px 50px;
    }

    @media (min-width: 1280px) {
      min-height: 330px;
    }

    @media (min-width: 1600px) {
      min-height: 300px;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #1e4193, #5A9BD5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      width: 55px;
      height: 55px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      width: 30px;
      height: 30px;
    }

    &--1 {
      background-image: url(/miller/pages/home/services/services__icon--1.svg);
    }

    &--2 {
      background-image: url(/miller/pages/home/services/services__icon--2.svg);
    }

    &--3 {
      background-image: url(/miller/pages/home/services/services__icon--3.svg);
    }

    &--4 {
      background-image: url(/miller/pages/home/services/services__icon--4.svg);
    }

    &--5 {
      background-image: url(/miller/pages/home/services/services__icon--5.svg);
    }

    &--6 {
      background-image: url(/miller/pages/home/services/services__icon--6.svg);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    margin: 0 0 10px 0;
    color: #1e4193;
    font-size: 1.25rem;

    @media (min-width: 768px) {
      font-size: 1.875rem;
    }
  }

  &__text {
    margin: 0 0 25px 0;
    font-size: 0.875rem;
    line-height: 1.3;

    @media (min-width: 768px) {
      font-size: 1rem;
      line-height: 1.8;
    }
  }

  &__link {
    color: #1e4193;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;

    &::after {
      margin-left: 15px;
      content: "\2192";
    }
  }
}

[dir='rtl'] .services {

  &__block {

    @media (min-width: 1280px) {
      min-height: 200px;
    }
  }

  &__link::after {
    margin-left: 0;
    margin-right: 15px;
  }
}