.footer {
  background: linear-gradient(270deg, #5A9BD5, #1E4193);
  width: 100%;
  padding-top: 50px;

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(min-width: 768px) {
      flex-direction: row;
    }
  }

  &__title {
    color: #EEEEEE ;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      gap: 100px;
      flex-direction: row;
    }
  }

  &__flexList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    text-decoration: none;
    color: #EEEEEE ;

    @media(min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  &__logo {
    height: 200px;
    margin: 0 auto;

    @media(min-width: 768px) {
      margin: 0;
    }
  }

  &__copyright {
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;

    @media(min-width: 768px) {
      padding: 80px 0 10px;
    }
  }
}

[dir='rtl'] .footer {
  background: linear-gradient(90deg, #5A9BD5, #1E4193);
}
