.formBigStat {
  width: 100%;
  height: max-content;
  background: linear-gradient(180deg, #A3B8E6, #1E4193);
  padding-top: 15px;

  @media (min-width: 768px) {
    padding-top: 50px;
  }

  &__title {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto 15px;

    @media (min-width: 768px) {
      padding-bottom: 50px;
      font-size: 2.5rem;
    }
  }
}
