.heroSectionForServices {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin-bottom: 50px;

  &--heroSectionCarIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_carInsurance.png);
  }

  &--heroSectionMortgageIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_MortgageInsurance.png);
  }

  &--heroSectionTouristIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_touristIns.png);
  }

  &--heroSectionHealthIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_healthIns.png);
  }

  &--heroSectionBusinessIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_businessIns.png);
  }

  &--heroSectionFinancialPlanning {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_financialPlanning.png);
  }

  &--heroSectionLifeIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_lifeIns.png);
  }

  &--heroSectionTravelIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_travelIns.png);
  }

  &--heroSectionTravelIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_accidentIns.png);
  }

  &--heroSectionPropertyIns {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_propertyIns.png);
  }

  &--heroSectionPensionManagement {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_pensionManagement.png);
  }

  &--heroSectionInvestmentFunds {
    background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_investmentFunds.png);
  }

  @media (min-width: 768px) {
    background-size: 100% 100%;
  }

  @media (min-width: 1024px) {
    margin-bottom: 90px;
  }

  &__relative {
    position: relative;
  }

  &__head {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 5vh;
    gap: 15px;
    width: 100%;

    @media (min-width: 400px) {
      top: 15vh;
      justify-content: space-between;
    }

    @media (min-width: 768px) {
      gap: 55px;
    }
  }

  &__yellowLine {
    display: none;
    background-color: #D4B02C;
    height: 10vh;

    @media (min-width: 400px) {
      display: unset;
      ;
    }

    @media (min-width: 768px) {
      height: 15vh;
    }

    &--left {
      width: 100%;

      @media (min-width: 768px) {
        width: 10%;
      }
    }

    &--right {
      width: 100%;

      @media (min-width: 768px) {
        width: 100%;
      }
    }
  }

  &__titleFlex {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      transform: translateY(-28%);
    }
  }

  &__title {
    margin: 0 auto;
    font-size: 1.5rem;

    @media (min-width: 400px) {
      font-size: 2rem;
      width: max-content;
    }

    @media (min-width: 768px) {
      margin: 0;
      text-align: start;
      font-size: 3rem;
    }

    @media (min-width: 1024px) {
      font-size: 4.5rem;
    }

    &--part1 {
      font-weight: 800;
      color: #ffffff;
    }

    &--part2 {
      font-weight: 400;
      color: #D4B02C;
    }
  }

  &__extraForHeroSection {
    padding-top: 20vh;

    @media (min-width: 400px) {
      padding-top: 30vh;
    }

    @media (min-width: 768px) {
      padding-top: 40vh;
    }
  }

  &__text {
    margin-bottom: 10%;
    padding: 20vh 30px 0;
    color: #ffffff;
    text-align: center;

    @media (min-width: 400px) {
      padding: 30vh 30px 0;
    }

    @media (min-width: 768px) {
      margin-bottom: 5%;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: start;
      width: 70%;
      padding: 40vh 8% 0 8%;
    }

    @media (min-width: 1024px) {
      margin-bottom: 2%;
      font-size: 1.2rem;
      width: 60%;
      font-weight: 700;
    }

    @media (min-width: 1540px) {
      font-size: 1.5rem;
    }
  }

  &__button {
    background: linear-gradient(90deg, #D4B02C, #E1C95A);
    color: #000000;

    &:hover {
      background: linear-gradient(90deg, #E1C95A, #D4B02C);
    }

    @media (min-width: 768px) {
      margin: 0 8%;
    }
  }

  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // height: 100vh;
  // width: 100%;
  // margin-bottom: 50px;
  // display: flex;
  // align-items: center;

  // &--heroSectionCarIns {
  //   background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_carInsurance.png);
  // }

  // &--heroSectionMortgageIns {
  //   background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_MortgageInsurance.png);
  // }

  // &--heroSectionTouristIns {
  //   background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_touristIns.png);
  // }

  // &--heroSectionHealthIns {
  //   background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_healthIns.png);
  // }

  // &--heroSectionBusinessIns {
  //   background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_businessIns.png);
  // }

  // &--heroSectionFinancialPlanning {
  //   background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_financialPlanning.png);
  // }

  // &--heroSectionLifeIns {
  //   background-image: url(/miller/componentsForServices/HeroSectionForServices/heroSection_lifeIns.png);
  // }

  // @media (min-width: 768px) {
  //   background-size: 100% 100%;
  // }

  // @media (min-width: 1024px) {
  //   margin-bottom: 90px;
  // }

  // &__title {
  //   text-align: center;
  //   font-size: 1.5rem;
  //   width: fit-content;
  //   color: #ffffff;

  //   @media (min-width: 400px) {
  //     font-size: 2rem;
  //   }

  //   @media (min-width: 768px) {
  //     text-align: start;
  //     font-size: 3rem;
  //   }

  //   @media (min-width: 1024px) {
  //     font-size: 3.5rem;
  //     margin-bottom: 100px;
  //   }

  //   &::after {
  //     content: "";
  //     display: block;
  //     width: fit-content;
  //     width: 100%;
  //     height: 7px;
  //     background-color: #D4B02C;
  //     margin-top: 8px;
  //   }
  // }

  // &__text {
  //   color: #ffffff;
  //   text-align: center;
  //   margin-bottom: 50px;

  //   @media (min-width: 768px) {
  //     font-size: 1.2rem;
  //     font-weight: 600;
  //     text-align: start;
  //     width: 70%;
  //   }

  //   @media (min-width: 1024px) {
  //     font-size: 1.2rem;
  //     width: 60%;
  //     font-weight: 700;
  //   }

  //   @media (min-width: 1540px) {
  //     font-size: 1.5rem;
  //   }
  // }

  
  // &__button {
  //   background: linear-gradient(90deg, #D4B02C, #E1C95A);
  //   color: #000000;

  //   &:hover {
  //     background: linear-gradient(90deg, #E1C95A, #D4B02C);
  //   }
  // }
}
