html {
  background-color: #EEEEEE;
  overflow-x: hidden;
  color: #1E1E1E;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #1E4193;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: 0 30px;

  @media (min-width: 1280px) {
    max-width: 80%;
    margin: 0 auto;
  }
}
