.heroSection {
  margin-bottom: 30px;

  @media (min-width: 1400px) {
    font-size: 90px;
  }

  &__flex {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  &__textInfo {
    @media (min-width: 768px) {
      width: 45%;
    }
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 1.875rem;
    line-height: 109%;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 2.5rem;
      text-align: start;
    }

    @media (min-width: 1400px) {
      font-size: 6rem;
    }
  }

  &__text {
    margin: 0 0 25px 0;
    font-size: 1.25rem;
    text-align: center;

    @media (min-width: 768px) {
      margin-bottom: 40px;
      max-width: 350px;
      text-align: start;
      font-size: 1rem;
    }


    @media (min-width: 1400px) {
      font-size: 1.25rem;
    }
  }

  &__button {
    display: block;
    font-family: inherit;
    margin: 0 auto;
    padding: 0;
    width: 295px;
    height: 55px;
    border-radius: 100px;
    border: none;
    background-color: #A3B8E6;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border: 0.5px solid #1E4193;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media (min-width: 1400px) {
      height: 90px;
    }

    &:hover {
      background-color: #1E4193;
      border: 0.5px solid;
      color: #FFFFFF;
    }
  }

  &__circles {
    position: absolute;
    top: 10%;

    &--bottom {
      top: 80%;
      right: -15%;
    }

    &--mob {
      position: absolute;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--mobBottom {
      position: absolute;
      top: 50%;
      right: 0;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__media {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: relative;
      width: 50%;
    }
  }

  &__photo {
    width: 100%;

    &--mob {
      width: 100%;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    @media (min-width: 768px) {
      height: 150px;
    }

    @media (min-width: 1280px) {
      height: 200px;
    }
  }
}

[dir='rtl'] .heroSection__circles {
  left: 0;
}
