.heroSection {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-top: 150px;
  }

  &__title {

    &--mob {
      text-align: center;
      font-size: 1.5rem;

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }

      @media (min-width: 1024px) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: 1024px) {
        display: block;
        font-size: 2.5rem;
      }
    }
  }

  &__flex {
    display: flex;
    flex-direction: column-reverse;


    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__textContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 1024px) {
      gap: 20px;
      align-items: start;
      width: 50%;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }

    @media (min-width: 1024px) {
      text-align: start;
      margin-bottom: 0;
    }

    @media (min-width: 1440px) {
      font-size: 1.5rem;
    }
  }

  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    @media (min-width: 1024px) {
      margin-bottom: 0;
      width: 50%;
    }
  }

  &__photo {
    width: 80%;
    margin-bottom: 10px;
  }

  &__signature {
    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.25rem;
    }

    @media (min-width: 1440px) {
      font-size: 1.5rem;
    }

    &--link {
      text-decoration: none;
      color: unset;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    @media (min-width: 768px) {
      height: 150px;
    }

    @media (min-width: 1280px) {
      height: 200px;
    }
  }
}
