.processCarIns {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }

  &__title {
    margin: 0 0 60px 0;
    text-align: center;
    font-size: 1.875rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;

    &--reverse {
      flex-direction: row-reverse;

      @media (min-width: 1024px) {
        flex-direction: row;
      }
    }
  }

  &__circle {
    flex-shrink: 0;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    color: #1E4193;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #5A9BD5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    @media (min-width: 1024px) {
      width: 130px;
      height: 130px;
      line-height: 130px;
      border-radius: 15px;
      font-size: 6rem;
    }
  }

  &__box {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    border: 4px #1E4193 solid;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    
    @media (min-width: 1024px) {
      padding: 25px;
      border: 9px #1E4193 solid;
    }
  }

  &__text {
    text-align: center;
    font-size: 0.875rem;

    @media (min-width: 1024px) {
      font-size: 1.7rem;
    }
  }
}
